<div class="container">
  <h1>PPM - Project Poduct Management</h1>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inventory']">Product List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/new']">Product Creation</a>
              </li>
      </ul>
  </nav>
  </div>
<router-outlet></router-outlet>
